body{
    font-family: 'Trebuchet MS';
}
#header{
    background-color: dimgray;
    height: 5.5rem;
    border-bottom: .5rem solid lightseagreen;
}
h1{
    font-size: 1.5rem;
    color: white;
}
#title{
    height: 28.5rem;
    background-color: lightgray;
    text-align: center;
}
*{
    margin: 0;
}
#about{
    display: flex;
}
#about img{
    height: 17rem;
}
h3{
    color: lightseagreen;
    width: 12rem;
    margin: 0 auto;
    text-align: center;
    padding-top: 2rem;
}
#fav{
    display: flex;
    justify-content: space-evenly;
}